*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(0, 255, 225, 0.3);
}

.titleDiv{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.roundDiv{
    display: flex;
    justify-content: center;
}

.playDiv{
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50px;
}

.comName{
    display: flex;
    justify-content: center;
}

.comImg{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.vsDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.playerName{
    display: flex;
    justify-content: center;
}

.playerImg{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.playerBtns > button{
    width: 70px;
    height: 40px;
    border-radius: 15px;
    border-width: 3px;
    margin: 0 10px 20px;
    background-color: rgba(0, 145, 255, 0.3);
}

.playerBtns > button:hover{
    cursor: pointer;
    background-color: rgba(0, 145, 255, 0.5);
}