*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(0, 255, 225, 0.3);
}

.titleDiv{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.roundDiv{
    display: flex;
    justify-content: center;
}

.playDiv{
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
    height: 350px;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50px;
    border: solid 3px;
}

.comName{
    display: flex;
    justify-content: center;
}

.comImgDiv{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.comLayer{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50px;
    border: solid 3px;
    background-color: rgb(0, 0, 255, 0.5);
    display: none;
}

.vsDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.playerDiv{
    width: 300px;
}

.playerName{
    display: flex;
    justify-content: center;
}

.playerImgDiv{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.playerLayer{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50px;
    border: solid 3px;
    background-color: rgb(0, 0, 255, 0.5);
    display: none;
}

.playerBtns > button{
    width: 70px;
    height: 40px;
    border-radius: 15px;
    border-width: 3px;
    margin: 0 10px 20px;
    background-color: rgba(0, 145, 255, 0.3);
}

.playerBtns > button:hover{
    cursor: pointer;
    background-color: rgba(0, 145, 255, 0.5);
}

.announceDiv{
    display: flex; 
    align-items: center;
    flex-direction: column;
    border: solid 3px;
    border-radius: 20px;
    padding: 10px 0;
    margin: 0 35vw;
    background-color: rgba(255, 255, 0, 0.5);
}

.announcement{
    margin: 20px;
}

.announceBtns{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.announceBtns > button{
    width: 70px;
    height: 40px;
    border-radius: 15px;
    border-width: 3px;
    background-color: rgba(0, 255, 255, 0.3);
}

.announceBtns > button:hover{
    cursor: pointer;
    background-color: rgba(0, 255, 255, 0.5);
}